apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-service
  labels:
    app: users-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users-service
  template:
    metadata:
      labels:
        app: users-service
    spec:
      containers:
        - name: users-service-container
          image: europe-central2-docker.pkg.dev/my-k8s-project-482709/my-docker-images/users-service:1.0.0

          ports:
            - containerPort: 8080